".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
".env" 
"__pycache__/" 
".ipynb.checkpoints" 
"createEnv.ipynb" 
"donotcommit.ipynb" 
